.homeSection{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 91vh;
   position: inherit;
}

.presentation{
   width: 100%;
}
.presentation h1{
   text-align: center;
   letter-spacing: 5px;
   margin-bottom: 2rem;
   font-size: clamp(3vw, 6rem, 10vw);
}
.presentation h2{
   background: none;
   text-shadow: 2px 3px 0px var(--light);
   text-align: center;
   font-size: clamp(1.5vw, 3rem, 5vw);
}

.homeSection svg{
  position: fixed;
  height: 80%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width:992px){
   .presentation h1{
      font-size: clamp(3vw, 4rem, 10vw);
      margin-bottom: 1rem;
   }
   .presentation h3{
      text-align: center;
      font-size: clamp(1.5vw, 2rem, 5vw);
   }
   .homeSection svg{
      top: 4rem;
      height: 250px;
   }
}
