.navbar{
    --navbarheight: 4rem;
    width: 100%;
    height: var(--navbarheight);
    background-color: var(--primary);
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 997;
}